<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizon Analytics - Anomalie</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/style_anomalie.css' %}">
</head>

<body>

    <header>
        <div class="main_header">
            <svg class="logo" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2L2 7L12 12L22 7L12 2Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2 17L12 22L22 17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2 12L12 17L22 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <a href="{% url 'dashboard' %}">
                <h1 class="header_title">Horizon Analytics</h1>
            </a>
        </div>

        <div class="container-center">
            <a href="{% url 'visione_di_insieme_page' %}" class="header_buttons active_button">Visione d'Insieme</a>
            <a href="{% url 'analisi_finanziaria_page' %}" class="header_buttons">Analisi Finanziaria</a>
            <a href="{% url 'territori_e_attori_page' %}" class="header_buttons">Territori e Attori</a>
            <a href="{% url 'efficienza_e_performance_page' %}" class="header_buttons" style="font-size: 11px;">Efficienza e Performance</a>
            <a href="{% url 'beneficiari_page' %}" class="header_buttons">Beneficiari</a>
            <a href="{% url 'analisi_settoriale_page' %}" class="header_buttons">Analisi Settoriale</a>
            <a href="{% url 'anomalie_page' %}" class="header_buttons">Anomalie</a>
        </div>
    </header>


    <div class="container_develop">
        <h1>⚙️ Modulo in Sviluppo</h1>
        <p>
            Questa sezione del sito è ancora in fase di costruzione.
            Stiamo lavorando per renderla disponibile il prima possibile!
        </p>
        
        <a href="{% url 'dashboard' %}" class="back_link">Torna alla pagina principale</a>
    </div>


    <main class="">
        
    </main>


    <footer class="main_footer">
        <div class="footer_column">
            <h4>Policy</h4>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
                <li><a href="#">Informative privacy</a></li>
            </ul>
        </div>
        <div class="footer_column">
            <h4>Contatti</h4>
            <ul>
                <li><a href="mailto:horizonanalitycs@gmail.com">horizonanalitycs@gmail.com</a></li>
            </ul>
        </div>
        <div class="footer_column">
            <h4>Informazioni</h4>
            <ul>
                <li><a href="#">Chi siamo</a></li>
                <li><a href="#">Credits</a></li>
            </ul>
        </div>
    </footer>

</body>
</html>
